nav{
	height: 50px;
	line-height: 3.3rem;


    font-family: 'Share Tech Mono', monospace;
    	background: #DA22FF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

}
.simpleTabs{
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.3rem;
}
ul.simpleTabs li a{
	color: #000;
	text-decoration: none;	
}
#header{
	background: #DA22FF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

}
#title{
    font-family: 'Rochester', cursive;
    margin-bottom: 15px;
    padding-bottom: 30px;

}
#title a, #title a:active, #title a:hover{
	color: #FFF;
	text-decoration: none;
}
a{
	text-decoration: none;
}

.nav-wrapper ul li a:hover, .nav-wrapper ul li a:active, {
	text-decoration: none;
	color: #FF0;
}

nav .brand-logo{
	font-family: 'Italianno', cursive;
	text-decoration: none;

}
nav .brand-logo a, nav .brand-logo a:hover, nav .brand-logo a:active {
	font-family: 'Italianno', cursive;
	text-decoration: none;

}
nav .container ul li a{
	height: 50px;
	color: #FFF;
}
nav .container ul li a i{
	height: 50px;
	line-height: 3.2rem;
}
nav ul li a, nav ul li a:active, nav ul li a:hover,{
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	
}
ul li a i{
	line-height: 3.3rem;

}

ul.tabs li a:hover, ul.tabs li a:active, ul.tabs li a{
	text-decoration: none;
}

#list_form ul li{
	display: inline-block;
	margin-right: 15px;
}



body{
	background: #fcfcfc;
}
ul.switching{
	width: auto;
	height: 30px;
	overflow-x: scroll;
	overflow-y: hidden;
    white-space: nowrap;
}
ul.simpleTabs li{
	width: 200px;
	display: inline-block !important;
	float: left !important;
	font-size: 1em;
}